body {
	background: #fff;
}

s

/* Main Header 
------------------------------ */
.main-head h1 {
	color: #fff;
	font-weight: 300;
	margin: 0;
}
.main-head-inner {
	background: url(../images/main-head-pattern.png) repeat center center;
	padding: 10px 0;
}

/* Main Navigation 
------------------------------ */
.main-nav {
	top: auto !important;
}


/* Turqo 
------------------------------ */
.turqo {
	background: #02c2bb; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #02c2bb 0%, #25ddb0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#02c2bb), color-stop(100%,#25ddb0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #02c2bb 0%,#25ddb0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #02c2bb 0%,#25ddb0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #02c2bb 0%,#25ddb0 100%); /* IE10+ */
	background: linear-gradient(45deg,  #02c2bb 0%,#25ddb0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02c2bb', endColorstr='#25ddb0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

